.container {
    display: flex;
    align-items: center;
}

.container > span {
    width: 420px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: hsl(235, 18%, 26%);
    letter-spacing: 0.5px;
    padding-left: 15px;
}