.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(234, 29%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modalContainer {
    width: 16%;
    height: 50%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 50px;
    gap: 20px;
}

.modalContainer > h1 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 700;
    font-size: 40px;
    color: hsl(234, 29%, 20%);
    letter-spacing: 0.5px;
}

.modalContainer > p {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 13px;
    color: hsl(235, 18%, 26%);
}

.modalContainer > p > span {
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

.modalContainer > button {
    width: 103%;
    height: 40px;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    border: none;
    background-color: hsl(234, 29%, 20%);
    cursor: pointer;
}